html,body{
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas{
  /* width: 100%;
  height: 100%; */

  /* box-sizing: border-box; */

  /* Resizes correctly, but control of vecotors are lost */
  width: 100vw; 
  height: 100vh;
  touch-action: none;
}